*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
 }
.main .picture{
  height: 350px;
  width: 100%;
  position: relative;
  top: 70px;
}
.main .picture img{
  height: 350px;
  width: 100%;
}

.main .data{
  height: 880px;
  width: 100%;
  position: relative;
  top: 75px;
  color: white;
}

.main .data h1{
  position: relative;
  left: 150px;
  text-decoration: underline;
  color: yellow;
}

.main .data pre{
  position: relative;
  left: 130px;
  font-size: 17px;
}